<app-header></app-header>
<app-about></app-about>
<app-github></app-github>
<app-experience></app-experience>
<app-education></app-education>
<app-certification></app-certification>
<app-skills></app-skills>
<app-contact></app-contact>

<!-- Botón flotante para volver al inicio -->
<p-button 
  *ngIf="showScrollButton"
  (onClick)="scrollToTop()"
  icon="pi pi-arrow-up"
  severity="secondary"
  [class]="'fixed bottom-6 right-6 z-50 shadow-lg hover:shadow-xl transition-all duration-500 ease-in-out transform' + 
           (showScrollButton ? ' animate-slideInUp' : ' animate-slideOutDown') + 
           (isScrolling ? ' animate-pulse' : '')">
</p-button>